.header {
  width: 100%;
  height: 42vw;
  border-radius: 0px 0px 400px 0px;
  position: relative;
   background: rgba(179, 198, 219, 0.6);
}
.header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 0px 0px 400px 0px;
}
.header_title {
  width: 35%;
  font-weight: 700;
  font-size: 3.3vw;
  color: #004494;
  padding: 16% 0 0 5%;
}
.header_title span {
  color: #358BCF;
}

.card {
  width: 100%;
  height: 100vh;
}