.header {
    width: 100%;
    height: 45vw;
    background-image: url('../img/headerImg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header_title {
    width: 28%;
    color: #004494;
    font-weight: 700;
    font-size: 3.5vw;
    transform: translate(15%,50%);
}

.tener {
    width: 100%;
    height: auto;
}
.tener_body {
    width: 90%;
    margin: 0 auto;
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
}
.tener_img {
    width: 26vw;
}
.tener_right {
    width: 35%;
}
.tener_title {
    color: #004494;
    font-size: 2.3vw;
}
.tener_info {
    font-weight: 300;
    font-size: 1.5vw;
    color: #004494;
    margin-top: 1vw;
}
.tener_btn {
    width: 14vw;
    height: 4vw;
    background: #358BCF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2vw;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 2.5vw;
}


.boxes {
    width: 100%;
    height: 30vw;
}
.boxes_body {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.box {
    width: 12vw;
    height: 12vw;
    background-color: #ECF3FA;
    border-radius: 50%;
}

.amplia {
    width: 100%;
    height: 40vw;
    background: rgba(189, 213, 237, 0.3);
    border-radius: 10vw  0px 0px 0px;
}
.amplia_body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.amplia_right {
    width: 30%;
}
.amplia_img {
    width: 24vw;
}
.amplia_title {
    font-weight: 700;
    font-size: 2.2vw;
    color: #004494;
}
.amplia_info {
    font-weight: 300;
    font-size: 1.45vw;
    color: #004494;
    text-align: justify;
    margin-top: 20px;
}

.experiencia {
    width: 100%;
    height: 35vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.experiencia_title {
    font-weight: 700;
    font-size: 2.2vw;
    color: #004494;
}
.experiencia_info {
    width: 60%;
    font-weight: 300;
    font-size: 1.5vw;
    color: #004494;
    margin-top: 15px;
}
.experiencia_btn {
    width: 14vw;
    height: 4.5vw;
    background-color: #358BCF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2vw;
    cursor: pointer;
    margin-top: 3vw;
}
.amplia_btn {
    width: 14vw;
    height: 4.5vw;
    background-color: #358BCF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2vw;
    cursor: pointer;
    margin-top: 3vw;
}
